<ion-content>
  <div class="logo">
    <img src="https://serving.photos.photobox.com/4047499725b7ba63bf4513c68878e27de8c5885b45000a668e57e5fb5ea6c92380429a72.jpg">
  </div >
  <div>
    <h2 class="ion-text-center">Ingrese sus credenciales</h2>
  </div>
  <form [formGroup]='loginFormulario'>
    <!-- Usuario -->
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName='nombre'>
    </mat-form-field>
    <!-- Contraseña -->
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'text' : 'password'" formControlName='password'>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <!-- Boton Ingresar -->
  <ion-button color="primary" class="espacio ion-text-center" (click)="ingresar()">Ingresar</ion-button>
</ion-content>

<ion-footer class="ion-no-border"> 
  <ion-toolbar>
    <div class="final">
      <p>¿No tienes cuenta? 
        <button class="boEnlace" [routerLink]="['/registro']">Registrate</button>
      </p>
    </div>
  </ion-toolbar>
</ion-footer>
